* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010f24;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 300px;
}

header img[src="img/bg3-1.png"] {
  width: 100vw;
  object-fit: fill;
  height: 200px;
}

header .logo {
  width: 100%;
  position: absolute;
  top: 5px;
  right: -400px;
  margin: auto;
  display: flex;
  align-items: center;
}

header .logo h1 {
  width: 35%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 10px;
}

header .logo h1 span {
  color: #a48314;
  margin-left: 100px;
}

main {
  width: 100vw;
  color: #fff;
  margin-bottom: 100px;
}

main .hot-news {
  position: relative;
}

main .hot-news img {
  width: 100vw;
  height: 690px;
  object-fit: fill;
  clip-path: inset(0 0 63px 0);
}

main .hot-news h1 {
  margin-left: 20px;
  position: absolute;
  bottom: 90px;
  left: 23px;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: italic;
}

main .tanggal {
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #850303;
  width: fit-content;
  margin-bottom: 8px;
  margin-top: -40px;
  margin-left: 30px;
}

main p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.4rem;
  line-height: 40px;
  word-spacing: 10px;
}

footer {
  background-color: #0f5a5e;
  padding: 10px 0;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul li {
  list-style: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
}

footer ul li:last-child {
  width: 20%;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

footer ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

footer ul li a:hover {
  background-color: #fff;
  color: #0f5a5e;
}
