* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #010f24;
  overflow-x: hidden;
  height: 4000px;
}

#home {
  width: 100vmax;
  height: 100vh;
  overflow: hidden;
}
#home .navbar {
  height: 100px;
}

#home ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  padding: 20px;
}

#home ul li {
  list-style: none;
}

#home ul li a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

#home ul li a:hover {
  background-color: white;
  color: #010f24;
}

.jumbotron img {
  overflow: hidden;
  clip-path: inset(0 0 63px 0);
  position: absolute;
  top: 70px;
  right: 0;
  width: 90%;
  height: 100vh;
  mask: url(../img/Rectangle\ 1.svg);
  -webkit-mask: url(../img/Rectangle\ 1.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  z-index: 4;
}

.logo {
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo img {
  position: absolute;
  top: -90px;
  left: 30px;
}

.logo h1 {
  /* font-family: "Lemonade Script", sans-serif; */
  font-size: 2rem;
  position: absolute;
  top: 300px;
  left: -100px;
  color: white;
  transform: rotate(-90deg);
  letter-spacing: 10px;
}

#garis {
  position: absolute;
  height: 100%;
  width: 20px;
  background-color: #0e3138;
  left: 320px;
  top: 370px;
  z-index: -1;
}

#news {
  position: relative;
  padding: 10px;
  width: 887px;
  height: 250px;
  border-radius: 30px;
  background-color: #cac9cd;
  margin: 200px auto 0;
}

#news h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 8px;
}

#news .isi-konten {
  display: flex;
  justify-content: space-evenly;
}

#news div img {
  width: 180px;
  height: 150px;
  border-radius: 50px;
  margin-left: 40px;
}

#news p {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 1px rgb(150, 146, 146);
  margin-top: 35px;
  margin-left: 29px;
  letter-spacing: 10px;
  line-height: 2.6rem;
  font-style: italic;
}

.next {
  display: flex;
  position: absolute;
  top: 150px;
  right: 0;
  justify-content: center;
}

#news .next p {
  position: absolute;
  right: 90px;
  color: #6b1414;
}

.next img#arrow {
  margin-top: 50px;
  margin-right: 30px;
  width: 50px;
  height: 30px;
}

img#number-01 {
  width: 250px;
  position: absolute;
  left: -280px;
  border-radius: 0%;
  z-index: -1;
  top: -50px;
}

#about {
  width: 100%;
  color: white;
  margin-top: 200px;
}

#about h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
}

#about .konten {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#about .konten .visimisi {
  width: 33%;
  text-align: center;
  font-size: 2em;
  position: relative;
  left: -130px;
}

#about .konten .visimisi a {
  text-decoration: none;
  color: #fff;
}

#about .konten .rangkuman {
  width: 66%;
}

#about .konten .rangkuman h3 {
  font-size: 2.4em;
  margin-bottom: 10px;
}

#about .konten .rangkuman p {
  width: 80%;
  font-size: 1.8em;
  word-spacing: 5px;
  line-height: 1.5em;
}

#about #number-02 {
  width: 300px;
  position: relative;
  right: -1150px;
  top: 20px;
}

#gallery {
  margin-top: 200px;
  /* position: relative; */
}

#gallery h2 {
  width: 220px;
  word-wrap: break-word;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  line-height: 80px;
}

#gallery .list-img {
  margin-top: 50px;
  display: flex;
  height: 600px;
  justify-content: space-around;
}

#gallery .list-img img {
  width: 340px;
  object-fit: cover;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.69);
  -moz-box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.69);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.69);
}

#gallery .list-img img:nth-child(even) {
  transform: translateY(100px);
}

#gallery div.selengkapnya {
  position: relative;
  top: 150px;
  right: -1300px;
  color: white;
  font-size: 2rem;
}

#gallery div.selengkapnya a {
  text-decoration: none;
  color: white;
}

#gallery div.selengkapnya img {
  width: 100px;
  margin-left: 50px;
  margin-top: 10px;
}

#gallery #number-03 {
  margin-top: 100px;
  width: 300px;
  margin-left: 10px;
}

#contact-us {
  margin-top: 200px;
  display: flex;
  color: white;
  justify-content: space-between;
}

#contact-us > div {
  width: 30%;
}

.left {
  margin-top: 100px;
}

.left div.email p {
  margin-left: 20px;
}

.left div.address {
  margin-left: 70px;
}

.left div.address p {
  margin-left: 20px;
}

.left .email,
.left .telp,
.left .address {
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.3em;
}

.right {
  font-size: 2em;
  text-transform: uppercase;
}

.right .lines .line {
  width: 160px;
  height: 5px;
  background-color: white;
  display: inline-block;
  margin-left: 2px;
}

.right .lines {
  display: flex;
  align-items: center;
  gap: 5px;
}

#contact-us .right .sosial-media {
  font-size: 1.2rem;
  margin-top: 170px;
}

#contact-us .right img#number-04 {
  width: 350px;
  margin-left: 50px;
  z-index: -99;
}

footer {
  width: 100%;
  position: relative;
  top: -100px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  padding: 20px;
}

footer ul li {
  list-style: none;
  width: 15%;
}

footer .navbar ul li:last-child {
  font-size: 0.5em;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

footer ul li a:hover {
  background-color: white;
  color: #010f24;
}
